.add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #df2745;
}
.add_btn:hover {
  cursor: pointer;
}
.add_btn_icon {
  color: #fff;
}
